html {
  font-size: 62.5%;
} /* =10px */
body {
  font-size: 2.2rem;
  font-family: "Karla", sans-serif;
  font-weight: 600;
} /* =14px */

.App {
  margin: auto;
  width: 70%;
  min-width: 400px;
  max-width: 750px;
  border: 2px solid #29326486;
  padding: 10px;
  border-radius: 10px;
}

.trivias {
  padding: 30px;
  border-bottom: #2932642a solid 1px;
}

.question {
  margin-bottom: 20px;
  color: #293264;
}

.answers {
  display: flex;
  gap: 1.5rem;
  color: #293264;
}

.check {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  /* background-color: #4d5b9e; */
}

.check > button {
  background-color: #4d5b9e;
  color: #e2e8f0;
}

button {
  min-width: 10rem;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #4d5b9e;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Karla", sans-serif;
}

.answerButtons {
  pointer-events: none;
}

.answer:hover {
  background-color: #1e293b;
  color: white;
}

@media only screen and (max-width: 768px) {
  .App {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.start-section {
  width: 100%;
  text-align: center;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

select {
  margin-bottom: 20px;
}
