html {
  font-size: 62.5%;
} /* =10px */
body {
  font-size: 2rem;
} /* =14px */
h1 {
  font-size: 2.4rem;
} /* =24px */

.App {
  margin: auto;
  width: 70%;
  min-width: 700px;
  border: 3px solid green;
  padding: 10px;
}

.answers {
  display: flex;
  gap: 1rem;
}

.check {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  /* background-color: #4d5b9e; */
}

.check > button {
  background-color: #4d5b9e;
  color: #e2e8f0;
}

button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid black;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #1e293b;
  color: #fff;
}
