html {
  background: #14181c;
}

p,
h1 {
  color: #99aabb;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 70%;
}

.searchBar {
  background-color: #445566;
  background: #445566;
}

.searchContainer {
  background-color: #445566;
  background: #445566;
}

.modal-backdrop {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 500px;
  padding: 0 40px;
  padding-top: 10px;
  padding-bottom: 130px;
  height: 20px;
  background-color: #445566;
  background: #445566;
  border-radius: 5px;
}

.searchContainer > p {
  margin-bottom: 5px;
  color: #99aabb;
}
.searchBar {
  display: flex;
}

.searchContainer--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #445566;
  background: #445566;
}
.searchContainer--flex > p {
  color: #99aabb;
}

input {
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.SearchResults {
  display: flex;
  gap: 5px;
}
.SearchResults > p {
  color: #14181c;
}

.resultsList {
  padding-left: 0px;
}

ul {
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 0;
  background-color: #99aabb;
  background: #99aabb;
}

li {
  padding: 5px 5px 5px 0;
  background-color: #99aabb;
  background: #99aabb;
}

li:hover {
  background: #a9bcce;
}

ul > li:last-child {
  padding-bottom: 0px;
}

button {
  background-color: #212931;
  color: #99aabb;
  border-radius: 5px;
  padding: 10px 15px;

  border: #aabbcc18 1px solid;
}

button:hover {
  background-color: #313d49;
}

.selectedMovies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.selectedMovie {
  background-color: #212931;
  border-radius: 10px;
  border: #aabbcc18 1px solid;
  display: inline-block;
  width: 172px;
  height: 258px;
}

.poster:hover {
  border: rgb(8, 158, 53) 2px solid;
}

.selectedMovie > p {
  margin-bottom: 8px;
  color: #99aabb;
}

.movie-title {
  font-weight: bolder;
  margin-top: 5px;
  border-radius: inherit;
  background-color: inherit;
}

.poster {
  border: 1px solid rgba(255, 255, 255, 0.329);
  /* width: 230px;
  height: 345px; */
  width: 172.5px;
  height: 258.75px;
  border-radius: 10px;
}

.green {
  background-color: #00b020;
  color: black;
  margin-bottom: 20px;
}

.green:hover {
  background-color: #00b020ce;
}
.selectedMovieContainer {
  position: relative;
}
.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  -webkit-text-stroke: 1px white;
}
